@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>New App</h1>
    <p class="lead">
    
        This web application is under construction.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Best Practice</h2>
        <p>
            In the process of best practice benchmarking, management identifies the best firms in their industry, or in another industry where similar processes exist, and compares the results and processes of those studied (the "targets") to one's own results and processes.             
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Benchmarking">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Business Process</h2>
        <p>Companies target specific business processes using detailed surveys of measures and practices used to identify business process alternatives and leading companies. Surveys are typically masked to protect confidential data by neutral associations and consultants.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Benchmarking">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Performance</h2>
        <p>Benchmarking is used to measure performance using a specific indicator (cost per unit of measure, productivity per unit of measure, 
            cycle time of x per unit of measure or defects per unit of measure) resulting in a metric of performance that is then compared to others.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Benchmarking">Learn more &raquo;</a></p>
    </div>
</div>